
table, th, td {
    margin-left:0px
    border: 1px ;
    border-style:solid;
}
th, td {
    padding: 8px;
    text-align: center;
}
button {
text-align: center;
background: white; 
}
.Spalten{
    height: 50;
    box-sizing: border-box;
    width: 145;
}
table{
    table-layout: auto;
    
}
.Überschriften{
    margin-top: 50; 
    font-size: 20;
}
.Abstand {
    margin-top: 20;
}
.Emojis{
    font-size: 25;
}
.Abstandlinks{
    margin-left:50;
}
